%h1 Question 3

%code
  %p An ant is walking on the squares of a 5x5 grid - it starts in the center square.
  %p Each second, it will choose (with equal probability) to do one of the following:
  %p - Move north one square
  %p - Move south one square
  %p - Move east one square
  %p - Move west one square
  %p - Do not move

  %p If it cannot perform the action it has decided on (move west while on the west edge, for example), it sits in place.

  %p After one second, it has a 20% chance of being in the center, and a 20% chance of being in each adjacent square. (and a 0% chance of being in any other square on the board).

  %p You may ignore floating point error accumulation.
%hr

%h4 What is the probability that the ant is on the center square after 15 seconds?
%p= @center_after_fifteen
%h4 What is the probability that the ant is on one of the outermost squares after 1 hour?
%p So my guess is that it will just distribute to all the cells over time, so that would be 4% per cell   or the fancy number below:
%p= @outer_after_hour
