%h1 Question 2

%h3 Let S be the set of numbers greater than zero and less than 100,000 that are evenly divisible by 19.
%hr

%h4 How many numbers are there in S?
%p= @array_size
%h4 How many numbers in S have a square that ends in a 1?
%p= @squares_one_count
%h4 How many numbers in S have a reflection that is also in S? (The reflection of 145 is 541)
%p= @reflection_count
%h4 How many numbers in S can be multiplied by some other number in S to produce a third number in S?
%p= @third_in_s